body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.AddProduct{
    border-bottom: 3px solid gray;
}


.AddProductContainer{
    margin-left: 10px;
}

.h1AddProduct{
    color: black;
    text-align: center;
}

form{
    border: 2px solid black;
    padding: 20px;
    width: 95%;
}

.cancelbutton{
    text-decoration: none;
    color: inherit;
}